trigger:
- main   # or your demo branch

pool:
  vmImage: 'ubuntu-latest'

steps:
# BrowserStack setup
- task: BrowserStackConfig@0
  inputs:
    BrowserStackServiceEndPoint: 'browserstack-connection-yashvi'

- script: |
    echo "BS USER = $BROWSERSTACK_USERNAME"
  displayName: 'Debug BrowserStack Username'

# Run TestNG suite in parallel on ONE device
- task: Maven@3
  displayName: 'Run TestNG parallel suite (single device)'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'
    options: >
      -P bstack-parallel
      -Dbrowserstack.config=src/test/resources/conf/capabilities/browserstack-parallel.yml
      -X
  
# Publish BrowserStack App Automate results
- task: BrowserStackResults@1
  displayName: 'Publish BrowserStack App Automate results'
  inputs:
    product: 'automate'
